.dashboard-header {
  color: var(--main-title-color);
  width: 40%;
  margin-left: 10%;
  height: 100px;

  .container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .title {
      font-size: 2rem;
      font-weight: 700;
    }
  }
}
