.ow-box {
  border: 2px solid #fa9c1d;

  .ow-activities {
    .box-content {
      span {
        font-weight: 700;
        font-size: 2rem;
      }
    }
  }

  .ow-playtime {
    .box-content {
      span {
        font-weight: 700;
        font-size: 1.3rem;
      }
    }
  }
}
