footer {
  position: relative;
  height: 250px;
  display: flex;
  align-items: center;
  .container {
    height: 100%;
    width: 90%;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .donate {
      display: flex;
      flex-direction: column;
      align-items: center;

      a {
        color: var(--main-title-color);
        font-size: 14px;
      }
    }

    .app-info {
      margin-top: 30px;
      width: 50%;

      p {
        font-family: "DM Sans", sans-serif;
        color: #fff;
        line-height: 35px;
        font-size: 1.1rem;

        a {
          color: #fff;
        }
      }

      .copyright {
        color: #fff;
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          margin-right: 7px;
          width: 20px;
        }
        .copyright-text {
          font-weight: 500;

          a {
            color: #fff;
          }
        }
      }
    }
  }

  .footer-bg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    height: 250px;
    img {
      height: 100%;
      width: 100%;
    }
  }
}
