.theme-toggle {
  // margin-top: 15px;
  // align-self: flex-end;
  width: 30%;
  height: 120px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  float: right;
  padding-right: 10%;

  // position: absolute;
  // top: 50px;
  // right: 5%;
  z-index: 99;
  p {
    color: #fff;
    margin-bottom: 15px;
    font-weight: 700;
  }

  .toggle-btn {
    width: 80px;
    height: 35px;
    background: $primary-color;
    border-radius: 50px;
    position: relative;
    cursor: pointer;

    // overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      top: 2.5px;
      left: 3px;
      // right: auto;
      width: 30px;
      height: 30px;
      border-radius: 50px;
      background: #efefef;
      transition: left 400ms;
      // z-index: 99;
    }

    &.active {
      &::after {
        // right: 3px;
        left: calc(100% - 33px);
        // transition: right 600ms;
      }
    }
  }
}

.home-header {
  position: relative;
  width: 70%;
  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 0 10%;
    height: 100px;
    align-items: center;

    .logo {
      cursor: pointer;
      img {
        width: 60px;
      }
    }
  }

  .share-text {
    color: #fff;
    transform: rotate(-90deg);
    font-size: 1.1rem;
    display: inline-block;
    margin-top: 50px;

    a {
      font-weight: 700;
      letter-spacing: 5px;
      position: relative;
      color: #fff;
      text-decoration: none;

      &::after {
        content: "";
        position: absolute;
        // height: calc(100% + 15px);
        top: 115%;
        left: -5%;
        height: 2px;
        width: calc(100% + 20px);
        border-radius: 9px;
        background: #fff;
        transition: width 500ms;
        // transform: rotate(-90deg);
      }
    }

    &:hover a::after {
      width: 100%;
    }
  }

  .header-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
  }
}
